.App {
    text-align: center;
  }
  
  .scroll-indicator {
    margin: 20px 0;
    font-size: 24px;
  }
  
  .timeline-wrapper {
    position: relative;
    height: 200vh;
    margin: 0 auto;
    width: 5px;
  }
  
  .timeline {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #e5e5e5;
  }
  
  .timeline-progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #00a86b;
    transition: height 0.3s ease-out;
  }
  
  .timeline-icon {
    position: absolute;
    left: 50%;
    top: 0; /* Start at the top */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  }
  
  
  .timeline-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
  .message {
    position: absolute;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 200px;
  }
  
  .message.visible {
    opacity: 1;
  }
  
  .message.left {
    right: calc(100% + 20px);
  }
  
  .message.right {
    left: calc(100% + 20px);
  }
  
  .bottom-spacer {
    height: 100vh;
  }
  